video{
    height: 85vh;
    max-width: 100%;
    display: block;
    object-fit: cover;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 25px;
}

main button{
    padding: 4px 16px;
    height: 60px;
    position: absolute;
    bottom: 8px;
    left: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-style: none;
    border-radius: 7.5px;
    background-color: #03989E;
    font-size: 24px;
    color: white; 
}

main button p{
    margin-left: 4px;
    color: white;
}