{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="{% static 'framework/stylesheets/missionDetails.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'framework/stylesheets/global.css'%}"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
    </style>
  </head>
  <body>
    <header>
      <img src="{% static 'framework/assets/logo.jpg'%}" alt="logo" />
      <span>Box Manager</span>
    </header>

    <main>
      <h1 class="title">Mission 1</h1>
      <div class="section">
        <div class="property">
          <h3 class="key" id="state">Etat :</h3>
          <p class="value b">{{ mission.formated_state }}</p>
        </div>
        <div class="property">
          <h3 class="key" id="date">Date :</h3>
          <p class="value a">{{ mission.date_formated }}</p>
        </div>
        <div class="property">
          <h3 class="key" id="borneID">ID Borne :</h3>
          <p class="value a">{{ mission.terminal.code }}</p>
        </div>
        <div class="property">
          <h3 class="key" id="agent">Agent :</h3>
          <p class="value a">{{ mission.technician }}</p>
        </div>
        <div class="property">
          <h3 class="key" id="prog">Progression :</h3>
          <p class="value c">0%</p>
        </div>
      </div>
    </main>

    <footer>
      <button class="retour" onclick="goBack()">
        <img
          src="{% static 'framework/assets/arrow-left.svg' %}"
          alt="left-arrow"
        />
      </button>
      <button
        class="start"
        onclick="location.href = '../{{mission.uuid}}/terminal'"
      >
        <p>{{ mission.formated_action }}</p>
      </button>
      <button class="signal">
        <img
          src="{% static 'framework/assets/warning-triangle-outline.svg' %}"
          alt="error"
        />
      </button>
    </footer>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
