{% if user.is_authenticated %}


{% load static %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="{% static 'framework/stylesheets/missionsOverview.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'framework/stylesheets/global.css' %}"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
    </style>
  </head>
  <body>
    <header>
      <img src="{% static 'framework/assets/logo.jpg' %}" alt="logo" />
      <h1>Hello </h1>
      <span>Box Manager</span>
    </header>

    <main>
      <h1 class="title">Vos missions</h1>
      <div class="section">
        <div class="section-title">
          <h2>Disponibles</h2>
          <span class="section-bubble">{{ missions_count }}</span>
        </div>
        <div class="container">
          {% for mission in missions_week %}
          <button
            class="box available"
            onclick="location.href = '/mission/{{mission.uuid}}'"
          >
            <div class="elements">
              <h3>{{ mission.terminal.display_name }}</h3>
              <h3>{{ mission.date_formated }}</h3>
            </div>
            <!-- <button onclick= "location.href = '/mission/{{mission.uuid}}'">VOIR</button> -->
          </button>
          {% endfor %}
        </div>

        <div class="section">
          <div class="section-title">
            <h2>A venir</h2>
            <span class="section-bubble a">{{ future_count }}</span>
          </div>
          <div class="container">
            {% for mission in missions_future %}
            <button
              class="box hidden"
              onclick="location.href = '/mission/{{mission.uuid}}'"
            >
              <div class="elements">
                <h3>{{ mission.terminal.display_name }}</h3>
                <h3>{{ mission.date_formated }}</h3>
              </div>
              <!-- <button>APERÇU</button> -->
              <!-- onclick="location.href = '/mission/{{mission.uuid}}'" -->
            </button>
            {% endfor %}
          </div>
        </div>
      </div>
    </main>

    <footer>
      <button class="retour" onclick="goBack()">
        <img
          src="{% static 'framework/assets/arrow-left.svg' %}"
          alt="left-arrow"
        />
        <p>Retour</p>
      </button>
      <button class="signal">
        <img
          src="{% static 'framework/assets/warning-triangle-outline.svg'%}"
          alt="error"
        />
      </button>
    </footer>
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </body>
</html>
{%endif%}