<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code</title>

    <link
      rel="stylesheet"
      href="{% static 'framework/stylesheets/qrcode.css'%}"
    />
    <link
      rel="stylesheet"
      href="{% static 'framework/stylesheets/global.css'%}"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
    </style>
  </head>
  <body>
    <header>
      <img src="{% static 'framework/assets/logo.jpg'%}" alt="logo" />
      <span>Box Manager</span>
    </header>

    <main>
      <h1 class="title">Votre QR Code</h1>
      <div class="section">
        <div class="qr-code" style="display: none"></div>
      </div>
    </main>

    <footer>
      <button class="retour" onclick="goBack()">
        <img
          src="{% static 'framework/assets/arrow-left.svg' %}"
          alt="left-arrow"
        />
      </button>
      <button
        class="start"
        onclick="location.href = '../{{mission.uuid}}/terminal'"
      >
        <p>{{ mission.formated_action }}</p>
      </button>
      <button class="signal">
        <img
          src="{% static 'framework/assets/warning-triangle-outline.svg' %}"
          alt="error"
        />
      </button>
    </footer>
    <script>
      function goBack() {
        window.history.back();
      }

        document.querySelector(".qr-code").style = "";
        var qrcode = new QRCode(document.querySelector(".qr-code"), {
          text: {{payload}},
          width: 180, //default 128
          height: 180,
          colorDark: "#000000",
          colorLight: "#ffffff",
          correctLevel: QRCode.CorrectLevel.H,
        })
    </script>
  </body>
</html>
