{%if user.is_authenticated%}

{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="{% static 'framework/stylesheets/terminal.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'framework/stylesheets/global.css' %}"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
    </style>
  </head>
  <body>
    <header>
      <img src="{% static 'framework/assets/logo.jpg' %}" alt="logo" />
      <span>Box Manager</span>
    </header>

    <main>
      <div class="container">
        <button
          class="locker a {{actions.1.action}}"
          id="{{ actions.1.locker.uuid }}"
        ></button>
        <button
          class="locker b {{actions.2.action}}"
          id="{{ actions.2.locker.uuid }}"
        ></button>
        <button
          class="locker c {{actions.3.action}}"
          id="{{ actions.3.locker.uuid }}"
        ></button>
        <button
          class="locker d {{actions.4.action}}"
          id="{{ actions.4.locker.uuid }}"
        ></button>
        <button
          class="locker e {{actions.5.action}}"
          id="{{ actions.5.locker.uuid }}"
        ></button>
        <button
          class="locker f {{actions.6.action}}"
          id="{{ actions.6.locker.uuid }}"
        ></button>
        <button
          class="locker g {{actions.7.action}}"
          id="{{ actions.7.locker.uuid }}"
        ></button>
        <button
          class="locker h {{actions.8.action}}"
          id="{{ actions.8.locker.uuid }}"
        ></button>
        <button
          class="locker i {{actions.9.action}}"
          id="{{ actions.9.locker.uuid }}"
        ></button>
        <button
          class="locker j {{actions.10.action}}"
          id="{{ actions.10.locker.uuid }}"
        ></button>
        <button
          class="locker k {{actions.11.action}}"
          id="{{ actions.11.locker.uuid }}"
        ></button>
        <button
          class="locker l {{actions.12.action}}"
          id="{{ actions.12.locker.uuid }}"
        ></button>

        <div class="menu">
          <div class="progress"><p>100%</p></div>
          <div class="stats">
            <p class="dep">5</p>
            <p class="wit">2</p>
          </div>
          <button
            class="menubtn"
            onclick="location.href = '/mission/{{mission.uuid}}'"
          >
            Menu
          </button>
        </div>

        <button
          class="locker m {{actions.13.action}}"
          id="{{ actions.13.locker.uuid }}"
        ></button>
        <button
          class="locker n {{actions.14.action}}"
          id="{{ actions.14.locker.uuid }}"
        ></button>
        <button
          class="locker o {{actions.15.action}}"
          id="{{ actions.15.locker.uuid }}"
        ></button>
        <button
          class="locker p {{actions.16.action}}"
          id="{{ actions.16.locker.uuid }}"
        ></button>
        <button
          class="locker q {{actions.17.action}}"
          id="{{ actions.17.locker.uuid }}"
        ></button>
        <button
          class="locker r {{actions.18.action}}"
          id="{{ actions.18.locker.uuid }}"
        ></button>
        <button
          class="locker s {{actions.19.action}}"
          id="{{ actions.19.locker.uuid }}"
        ></button>
        <button
          class="locker t {{actions.20.action}}"
          id="{{ actions.20.locker.uuid }}"
        ></button>
        <button
          class="locker u {{actions.21.action}}"
          id="{{ actions.21.locker.uuid }}"
        ></button>
        <button
          class="locker v {{actions.22.action}}"
          id="{{ actions.22.locker.uuid }}"
        ></button>
        <button
          class="locker w {{actions.23.action}}"
          id="{{ actions.23.locker.uuid }}"
        ></button>
        <button
          class="locker x {{actions.24.action}}"
          id="{{ actions.24.locker.uuid }}"
        ></button>
      </div>
    </main>

    <script>
      lockers = document.getElementsByClassName("locker");
      for (let i = 0; i < lockers.length; i++) {
        console.log(lockers[i]);
        if (lockers[i].id) {
          lockers[i].onclick = function () {
            location.href = "../{{ mission.uuid }}/locker/" + lockers[i].id;
          };
        }
      }
    </script>
  </body>
</html>
{%endif%}
