body {
  width: 100%;
}

main,
header {
  width: 100px !important;
}

video {
  height: 85vh;
  width: 100px;

  object-fit: cover;
  box-sizing: border-box;
  overflow: hidden;

  border-radius: 25px;
}

#container {
  width: 100px !important;
}

#container canvas {
  width: 100px;
}

main button {
  padding: 4px 16px;
  height: 60px;
  position: absolute;
  bottom: 8px;
  left: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-style: none;
  border-radius: 7.5px;
  background-color: #03989e;
  font-size: 24px;
  color: white;
}

main button p {
  margin-left: 4px;
  color: white;
}

#githubLink {
  position: absolute;
  right: 0;
  top: 12px;
  color: #2d99ff;
}

h1 {
  margin: 10px 0;
  font-size: 40px;
}

#loadingMessage {
  text-align: center;
  padding: 40px;
  background-color: #eee;
}

#canvas {
  align-self: center;
  justify-self: center;
}

#output {
  margin-top: 20px;
  background: #eee;
  padding: 10px;
  padding-bottom: 0;
}

#output div {
  padding-bottom: 10px;
  word-wrap: break-word;
}

#noQRFound {
  text-align: center;
}
