.topMenu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px 0;
  border-bottom: 2px solid #707b8e;
}

.topMenu h1 {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #053c42;
  font-weight: 600;
  font-size: 24;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 16px 0;
}

.property {
  display: flex;
}

.property h3 {
  width: calc(100% / 3);
}
.property div {
  flex: 1;
}

.property {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.property.sp {
  color: #053c42;
}

.property.sp img {
  height: 40px;
  aspect-ratio: 1;
}

.property div {
  width: 60%;
  display: flex;
  flex-flow: row;
  justify-content: stretch;
  align-items: flex-end;
}

.property .value {
  padding: 4px 16px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 7.5px;
}
.property .value.a {
  background-color: #e6f2ed;
  color: #053c42;
}

.property .value.b {
  background-color: #24c686;
  color: white;
}

.property .value.c {
  background-color: #03989e;
  color: white;
}

.property .value.VA {
  background-color: #24c686;
  color: white;
}

.property .value.NA {
  background-color: #f23d3d;
  color: white;
}

.property .value.DE {
  background-color: #ffc700;
  color: white;
}

.property .value.WI {
  background-color: #03989e;
  color: white;
}

.property .value.d {
  margin-right: 8px;

  border-style: none;
  background-color: #e6f2ed;
  color: #053c42;
}
.bool {
  height: 40px;
  aspect-ratio: 1;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
  background-color: #e6f2ed;
}

.bool.t {
  background-color: #24c686;
  background-image: url("/static/framework/assets/tick-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.retour {
  width: fit-content !important;
  font-size: 1.2rem;
  padding: 0 16px;
}
