.main {
  min-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  width: 100%;
  font-weight: 600;
  color: #053c42;
  margin: 0;
}


form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

button{
  margin: 16px auto 0 auto;
  padding: 4px 24px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 7.5px;
  background-color: #24c686;
  font-size: 24px;
  color: white;
}

.alreadyCo-container{
    text-align: center;
}
