main {
  margin-top: 136px;
}

.head {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.title {
  font-size: calc(1.5rem + 1vw);
}

.row {
  column-gap: 16px;
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 50%;
  height: 40px;
  background-color: #e6f2ed;
  border-radius: 0.25em;
  transition: all 0.2s ease;
  user-select: none;
  cursor: pointer;
}

.selected {
  font-weight: 500;
  color: #fff;
  background-color: #24c686;
  transition: all 0.2s ease;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #24c686;
  border-radius: 100%;
  font-weight: 500;
  font-size: 0.8rem;
  color: #fff;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  aspect-ratio: 1;
}

.list {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.icon {
  height: fit-content;
}

.action {
  padding: 16px;
  background-color: #e6f2ed;
  border-radius: 0.4em;
  user-select: none;
  cursor: pointer;
}

.actionTitle {
  margin: 0;
  font-size: 1.1rem;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.fixedHead {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 16px;
  top: 72px;
  height: 48px;
  width: 100%;
}

.hidden {
  display: none;
  transition: opacity 0.2s ease;
}
