body{
    height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);

    font-family: 'Montserrat', sans-serif;
    color: #28CE85;
}

.main{
    width: 75%;
    max-height: 75%;
    object-fit: contain;
    margin: 8px;
}

.loading{
    max-height: 64px;
    max-width: 64px;

    margin: 64px;
    animation: mymove 2s infinite linear;
}

h1{
    margin: 8px;
    font-size: 5vh;

    text-align: center;
}

@keyframes mymove {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
    }
  }