body{
    margin: 0;
    /* padding: 0px 24px; */
    width: 100%;
    height: 100vh;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 0;
}

h2, h3, p{
    margin: 0;
    font-weight: 500;
}

header{
    position: fixed;
    z-index: 5;

    padding: 0px 32px;
    padding-top: 16px;
    width: 100%;
    height: 76px;
    box-sizing: border-box;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: start;

    background-color: rgb(255, 255, 255);
    color: #24C686;
}

header h1{
    margin: 0;
    margin-left: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main{
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main img{
    width: auto;
    height: auto;
    max-height: 60px;
}

main{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container{
    padding: 0px 32px;
    padding-top: 80px;
    padding-bottom: 16px;

    display: grid;
    width: 100%;
    box-sizing: border-box;

    grid-template-areas:
    "a b c d"
    "e f g h"
    "i j z z"
    "k l z z"
    "m n o p"
    "q r s t"
    "u v w x";

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 24px;

    align-items: center;
    justify-items: center;
}

.locker {
    margin: 0px;
    width: 100%;
    aspect-ratio: 1 !important;

    background-color: #E6F2ED;
    border-style: none;
    border-radius: 5px;

    box-shadow: 0px 5px 20px rgba(0, 0, 0, .05);
}

.menu{
    margin: 0px;
    padding: 8px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    box-sizing: border-box;
    
    grid-area: z;

    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;

    background-color: #E6F2ED;
    border-radius: 5px;

    box-shadow: 0px 5px 20px rgba(0, 0, 0, .05);
}

.menu .stats{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
}

.progress{
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-style: none;
    border-radius: 5px;
    background-color:  #24C686;
}

.stats{
    height: 30%;
    margin: 8px 0px;
}

.menu p{
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.wit{
    margin-left: 4px;
    background-color: #03989E;
}

.dep{
    margin-right: 4px;
    background-color: #F2AA0C;
}

.menubtn{
    height: 30%;

    border-style: none;
    border-radius: 5px;
    background-color: #24C686;
    color: white;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/* Button states */
.VA{
    background-image: url("/static/framework/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.NA{
    background-image: url("/static/framework/error.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.WI{
    background-image: url("/static/framework/upload.svg");
    background-repeat: no-repeat;
    background-position: center;

    border: 3px solid #03989E;
}

.DE{
    background-image: url("/static/framework/download.svg");
    background-repeat: no-repeat;
    background-position: center;

    border: 3px solid #F2AA0C;
}

.locker .a{ grid-area: a; }
.locker .b{ grid-area: b; }
.locker .c{ grid-area: c; }
.locker .d{ grid-area: d; }
.locker .e{ grid-area: e; }
.locker .f{ grid-area: f; }
.locker .g{ grid-area: g; }
.locker .h{ grid-area: h; }
.locker .i{ grid-area: i; }
.locker .j{ grid-area: j; }
.locker .k{ grid-area: k; }
.locker .l{ grid-area: l; }
.locker .m{ grid-area: m; }
.locker .n{ grid-area: n; }
.locker .o{ grid-area: o; }
.locker .p{ grid-area: p; }
.locker .q{ grid-area: q; }
.locker .r{ grid-area: r; }
.locker .s{ grid-area: s; }
.locker .t{ grid-area: t; }
.locker .u{ grid-area: u; }
.locker .v{ grid-area: v; }
.locker .w{ grid-area: w; }
.locker .x{ grid-area: x; }